<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header">


</head>

<body>
<!--================ Start Header Menu Area =================-->
<!--================ End Header Menu Area =================-->
<div th:replace="common/header :: navbar"></div>

<div></div>
<div class="container"><div class="row"><h1 class="center-block display-2" style="padding-left:50px; padding-top: 80px">Admin Home</h1></div>
<div class="row">
<p>Welcome admin, this is the administration section of the website.</p>
</div>
</div>

<!-- TODO- Add full admin functionality like reports -->

<!--================ End Testimonial Area =================-->

<div th:replace="common/header :: bottom-stuff"></div>
<!--================ End footer Area  =================-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
