<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header">


</head>

<body>
<!--================ Start Header Menu Area =================-->
<!--================ End Header Menu Area =================-->
<div th:replace="common/header :: navbar"></div>

<div></div>
<div class="container">
    <div class="row"><h1 class="center-block display-2" style="padding-left:10px; padding-top: 80px">Book Info</h1>

    </div>

        <ol class="breadcrumb">
            <li><a th:href="@{/bookList}"><i class="breadcrumb-item" ></i>Go back / </a> </li>
           <li><a class="breadcrumb-item" th:href="@{updateBook?bookRef=}+${book.bookRef}">Edit</a></li>

        </ol>


    <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img alt="book cover" th:src="@{/images/book/{img}(img=${book.bookRef}+ '.png')}"  class="img-fluid" />

                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h3 class="display-3" th:text="${book.bookTitle}"></h3>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Author: </strong><span th:text="${book.bookAuthor}"></span></p>
                        <p><strong>Publisher: </strong><span th:text="${book.publisher}"></span></p>
                        <p><strong>Publication Date: </strong><span th:text="${book.publicationDate}"></span></p>
                        <p><strong>Language: </strong><span th:text="${book.publicationDate}"></span></p>
                        <p><strong>Category: </strong><span th:text="${book.category}"></span></p>

                    </div>
                    <div class="col-md-6">
                        <p><strong>Format: </strong><span th:text="${book.format}"></span></p>
                        <p><strong>cost: </strong><span th:text="${book.cost}"></span></p>
                        <p><strong>Stock Level : </strong><span th:text="${book.stockLevel}"></span></p>
                        <p><strong>Pages: </strong><span th:text="${book.noOfPages}"></span></p>
                    </div>
                </div>
                <p><strong>Description: </strong><span th:text="${book.description}"></span></p>
            </div>
    </div>
</div>
<br/>
<br/>
<br/>
<!--================ End Testimonial Area =================-->

<div th:replace="common/header :: bottom-stuff"></div>
<!--================ End footer Area  =================-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
