<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header">

</head>

<body>
<!--================ Start Header Menu Area =================-->
<div th:replace="common/header :: navbar"></div>
<!--================ End Header Menu Area =================-->
<div class="container">
    <div class="row">
        <div class="col-md-8"><h2 class="display-3" style="margin-top: 100px;"><span
                th:text="${#strings.toUpperCase(user.username)}"></span></h2></div>
        <div class="col-md-4"></div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-9">
            <ul class="nav nav-tabs">
                <li class="nav-item" th:classappend="${classActiveEdit}? 'active' "><a class="nav-link" href="#tab-1"
                                                                                       data-toggle="tab"> <span
                        style="color: blueviolet">Edit</span></a>
                </li>
                <li class="nav-item" th:classappend="${classActiveBooks}? 'active'"><a class="nav-link" href="#tab-2"
                                                                                       data-toggle="tab"><span
                        style="color: blueviolet">Books on Loan</span></a>
                </li>
                <li class="nav-item" th:classappend="${classActiveAccountType}? 'active'"><a class="nav-link"
                                                                                             href="#tab-3"
                                                                                             data-toggle="tab"><span
                        style="color: blueviolet">Account Type</span></a>
                </li>
                <li class="nav-item" th:classappend="${classActiveShipping}? 'active'"><a class="nav-link" href="#tab-4"
                                                                                          data-toggle="tab"><span
                        style="color: blueviolet">Billing and Payment Details</span></a>
                </li>

            </ul>
            <!--Tab Panels -->
            <div class="tab-content">
                <!-- Edit User Information -->
                <div class="tab-pane fade collapse show" id="tab-1" th:classappend="${classActiveEdit}? 'active' ">
                    <div class="card-group">
                        <div class="card" style="=border: none;">
                            <div class="card-body" style="background-color: #ededed; margin-top: 20px;">
                                <form th:action="@{/updateUserInfo}" method="post">
                                    <input type="hidden" name="id" th:value="${user.id}">
                                    <div class="bg-info" th:if="${updateUserInfo}">User info updated</div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="firstName">First Name</label>
                                                <input type="text" class="form-control" id="firstName" name="firstName"
                                                       th:value="${user.firstName}"/>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="lastName">Last Name</label>
                                                <input type="text" class="form-control" id="lastName" name="lastName"
                                                       th:value="${user.lastName}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" id="userName" name="username"
                                               th:value="${user.username}"/>

                                    </div>

                                    <div class="form-group">
                                        <label for="currentPassword">Password</label>
                                        <input type="password" class="form-control" id="currentPassword"
                                               name="currentPassword" th:value="${currentPassword}"/>

                                    </div>
                                    <p style="color:darkblue" class="lead">Enter your current password to change the
                                        email address or password.</p>
                                    <div class="form-group">
                                        <label for="email">Email Address</label>
                                        <input type="text" class="form-control" id="email" name="email"
                                               th:value="${user.email}"/>

                                    </div>
                                    <p style="color:darkblue" class="lead">Please enter a valid email address.</p>
                                    <div class="form-group">
                                        <label for="txtNewPassword">New Password</label>
                                        <input type="password" class="form-control" id="txtNewPassword"
                                               name="newPassword"/>

                                    </div>
                                    <div class="form-group">
                                        <label for="txtConfirmPassword">Confirm Password</label>
                                        <input type="password" class="form-control" id="txtConfirmPassword"/>

                                    </div>
                                    <p style="color:darkblue" class="lead">To change the current user password, you need
                                        to correctly enter the new password in both fields.
                                        Please enter and confirm your new password.</p>

                                    <button type="submit" class="btn btn-primary">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade collapse show" id="tab-2" th:classappend="${classActiveBooks}? 'inactive'">
                    <div class="card-group">
                        <div class="card" style="=border: none;">
                            <div class="card-body" style="background-color: #ededed; margin-top: 20px;">
                                <table border="0" id="bookList">
                                    <thead>
                                    <tr>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="book-item" data-th-each="book : ${bookList}">
                                        <td>
                                            <div th:if="${book != null}">
                                                <div class="row">

                                                    <div class="col-md-3">
                                                        <img alt="book cover" class="img-fluid shelf-book"
                                                             th:src="@{/images/book/{img}(img=${book.bookRef}+ '.png')}"/>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <h4 th:text="${book.bookTitle}"></h4>
                                                        <span th:text="'Date published: ' + ${book.publicationDate}"></span>
                                                        <br/>
                                                        <span th:text="'Author: ' + ${book.bookAuthor}"></span>
                                                        <br/>
                                                        <span th:text="'Format: ' + ${#strings.capitalize(book.format)}"></span>
                                                        <br/>
                                                        <span th:text="${book.noOfPages} + ' pages'"> </span>
                                                        <br/>

                                                        </span>
                                                        <a th:href="@{returnBook?bookRef=}+${book.bookRef}">
                                                            <button class="btn btn-success">Return</button>
                                                        </a>
                                                        <p th:text="'Description: ' + ${#strings.abbreviate(book.description, 500)}"></p>
                                                    </div>

                                                </div>
                                                <hr/>
                                                <br/>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p><b>The number of items you have left to borrow on your account type is: </b></p>
                                <h4 class="display-4" th:text="${user.numberOfLoans}"></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade collapse show" id="tab-3"
                     th:classappend="${classActiveAccountType}? ' inactive' ">
                    <div class="card-group">
                        <div class="card" style="=border: none;">
                            <div class="card-body" style="background-color: #ededed; margin-top: 20px;">


                                <div>
                                    <p><b>Your current account type is: </b></p>
                                    <h5 class="display-4" sec:authorize="hasRole('ROLE_USER')">Free Account</h5>
                                    <h5 class="display-4" sec:authorize="hasRole('ROLE_ADMIN')">Admin Account</h5>

                                    <p><b>Would you like to upgrade your account? Please press this button to set up or
                                        change payment</b></p>

                                </div>


                                <a th:href="@{/upgradeAccount}">
                                    <button type="submit" class="btn btn-primary">Upgrade Account</button>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade collapse show" id="tab-4"
                     th:classappend="${classActiveBilling}? ' in active' ">
                    <div class="card-group">
                        <div class="card" style="=border: none;">
                            <div class="card-body" style="background-color: #ededed; margin-top: 20px;">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active">
                                        <a th:href="@{/listOfCurrentPayments}"
                                           th:style="${listOfCurrentPayments}? 'color:red'">Current Payment Details</a>
                                    </li>

                                    <li class="breadcrumb-item">
                                        <a th:href="@{/addPaymentOption}" th:style="${addPaymentOption}? 'color:red'">Add
                                            Payment Details</a>
                                    </li>
                                </ol>

                                <div th:if="${listOfCurrentPayments}">
                                    <form th:action="@{/setDefaultPayment}" method="post">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Default</th>
                                                <th>Card</th>
                                                <th>Operations</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-th-each="userPayment : ${userPaymentList}">
                                                <td>
                                                    <input type="radio" name="defaultUserPaymentId"
                                                           th:value="${userPayment.paymentId}"
                                                           th:checked="${userPayment.defaultPayment}"/>
                                                </td>
                                                <td th:text="${userPayment.cardName}">

                                                </td>
                                                <td>
                                                    <a th:href="@{/removeCreditCard(id=${userPayment.paymentId})}"><i
                                                            class="fa fa-times"></i></a>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </form>
                                </div>
                                <div th:if="${addPaymentOption}">
                                    <form th:action="@{addPaymentOption}" method="post">
                                        <div class="bg-info" th:if="${updateUserPaymentInfo}">User info updated.</div>

                                        <input hidden="hidden" name="id" th:value="${userPayment.paymentId}">
                                        <div class="form-group">
                                            <label>* Give a name for this payment option: </label>
                                            <input type="text" class="form-control" id="cardName"
                                                   placeholder="Card Name" th:name="cardName" required="required"
                                                   th:value="${userPayment.cardName}"/>

                                        </div>
                                        <hr/>
                                        <div class="form-group">
                                            <h4>Billing Address</h4>
                                        </div>
                                        <div class="form-group">
                                            <label for="billingName"> Name</label>
                                            <input type="text" class="form-control" id="billingName" placeholder="Name"
                                                   th:name="userBillingName" required="required"
                                                   th:value="${userBilling.userBillingName}"/>
                                            <label for="userBillingStreet1"> Address</label>
                                            <input type="text" class="form-control" id="userBillingStreet1"
                                                   placeholder="Flat/House Number" th:name="userBillingStreet1"
                                                   required="required" th:value="${userBilling.userBillingStreet1}"/>
                                            <input type="text" class="form-control" id="userBillingStreet2"
                                                   placeholder="Street" th:name="userBillingStreet2" required="required"
                                                   th:value="${userBilling.userBillingStreet2}"/>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="cityAddress"> City</label>
                                                    <input type="text" class="form-control" id="cityAddress"
                                                           placeholder="City" th:name="userBillingCity"
                                                           required="required"
                                                           th:value="${userBilling.userBillingCity}"/>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="postcodeAddress"> Postcode</label>
                                                    <input type="text" class="form-control" id="postcodeAddress"
                                                           placeholder="Postcode" th:name="userBillingPostcode"
                                                           required="required"
                                                           th:value="${userBilling.userBillingPostcode}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <h4>Credit Card information</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <img src="/images/creditcard.png" class="img-fluid"/><br/>
                                                <div class="form-group">
                                                    <label for="cardType">* Select Card Type:</label>
                                                    <select class="form-control" id="cardType" th:name="type"
                                                            th:value="${userPayment.type}">
                                                        <option value="visa">Visa
                                                        </option>
                                                        <option value="mastercard">Mastercard
                                                        </option>
                                                        <option value="discover">Discover
                                                        </option>
                                                        <option value="amex">American Express
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="cardHolder">* Card Holder Name:</label>
                                                    <input type="text" class="form-control" id="cardHolder"
                                                           required="required"
                                                           placeHolder="Card Holder Name" th:name="holderName"
                                                           th:value="${userPayment.holderName}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="cardNumber">* Card Number:</label>
                                                    <div class="input-group">
                                                        <input type="tel" class="form-control" id="cardNumber"
                                                               required="required"
                                                               placeHolder="Valid Card Number" th:name="cardNumber"
                                                               th:value="${userPayment.cardNumber}"/>
                                                        <span class="input-group-addon"><i class="fa fa-credit-card"
                                                                                           aria-hidden="true"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label>* Expiration Date</label>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <select class="form-control" name="expiryMonth" required="required"
                                                                    th:value="${userPayment.expiryMonth}">
                                                                <option disabled="disabled">-- Month --</option>
                                                                <option value="01">Jan (01)</option>
                                                                <option value="02">Feb (02)</option>
                                                                <option value="03">Mar (03)</option>
                                                                <option value="04">Apr (04)</option>
                                                                <option value="05">May (05)</option>
                                                                <option value="06">June (06)</option>
                                                                <option value="07">July (07)</option>
                                                                <option value="08">Aug (08)</option>
                                                                <option value="09">Sep (09)</option>
                                                                <option value="10">Oct (10)</option>
                                                                <option value="11">Nov (11)</option>
                                                                <option value="12">Dec (12)</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <select class="form-control" name="expiryYear" th:value="${userPayment.expiryYear}">
                                                                <option disabled="disabled">-- Year --</option>
                                                                <option value="2017">2017</option>
                                                                <option value="2018">2018</option>
                                                                <option value="19">2019</option>
                                                                <option value="20">2020</option>
                                                                <option value="21">2021</option>
                                                                <option value="22">2022</option>
                                                                <option value="23">2023</option>
                                                                <option value="23">2024</option>
                                                                <option value="23">2025</option>
                                                                <option value="23">2026</option>
                                                                <option value="23">2027</option>
                                                                <option value="23">2028</option>
                                                                <option value="23">2029</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label for="cardCVC">CV Code</label>
                                                    <input id="cardCVC" type="tel" class="form-control" name="cvc"
                                                           placeholder="CVC" th:name="cvc" th:value="${userPayment.cvc}" />
                                                </div>
                                            </div>
                                        </div>
                                        <hr/>
                                        <button type="submit" class="btn btn-primary btn-lg">Save All</button>

                                    </form>
                            </div>
                            <!--TODO You need to add the rest of the payment details stuff andrew-->
                            <!--TODO Flesh out each account type -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br>
</div>
</div>
<!--================ End Testimonial Area =================-->

<div th:replace="common/header :: bottom-stuff"></div>
<!--================ End footer Area  =================-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
