<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header">


</head>

<body>
<!--================ Start Header Menu Area =================-->
<!--================ End Header Menu Area =================-->
<div th:replace="common/header :: navbar"></div>

<div></div>
<div class="container">
    <div class="row"><h1 class="center-block display-2" style="padding-left:10px; padding-top: 80px">Oh no......</h1>


    </div>
    <div class="border">
        <h4>I'm really sorry, there's no stock of this item in the library!</h4>
        <p> Please return to the library and choose another title </p>
        <br/>
        <a th:href="@{/browseLibrary}"><i class="link"></i>Go back </a>
        <br/>
        <br/>
        <p class=""><b> Confused? Contact us for
            help</b></p>
        <a th:href="@{/myProfile}"><i class="link"></i>My Profile </a>
        <br/>
        <br/>
        <a th:href="@{/contactus}"><i class="link"></i>Contact Us </a>
        <br/>
        <br/>
        <img class="img-fluid" style="padding-left: 80px;" src="images/alreadyBorrowed.png" alt="evil bitch"/>
        <br/>
        <br/>
    </div>
</div>
<br/>
<br/>

<!--================ End Testimonial Area =================-->

<div th:replace="common/header :: bottom-stuff"></div>
<!--================ End footer Area  =================-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
